<?xml version="1.0"?>
<launch>

  <!-- joy node -->
  <node name="joy_torso" pkg="joy" type="joy_node" respawn="true">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="10.0" type="double" />
  </node>

  <!-- Parameters -->
  <node name="torso_pad" pkg="vulcano_torso_pad" type="vulcano_torso_pad" output="screen">       
    <rosparam command="load" file="$(find vulcano_torso_pad)/launch/torso_ps3.yaml" />
  </node>
   
</launch>


