<?xml version="1.0"?>
<launch>
  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="gazebo_world" default="vulcano"/>

  <arg name="base" default="true"/>
  <arg name="guidance" default="true"/>
  <arg name="pantilt" default="true"/>
  <arg name="arms" default="true"/>

  <arg name="joint_limited" default="true"/>

  <!-- uploads robot_description and runs robot_state_publisher -->
  <group ns="vulcano">
  <include file="$(find vulcano_description)/launch/vulcano_state.launch">
    <arg name="joint_limited" value="$(arg joint_limited)"/>
  </include>

  <include file="$(find vulcano_gazebo)/launch/joint_state_controller.launch"/>

  <group if="$(arg base)">
    <include file="$(find vulcano_base_control)/launch/vulcano_base_control.launch">
        <arg name="omni" value="true" />
    </include>
    <include file="$(find vulcano_base_pad)/launch/vulcano_base_pad.launch">
        <arg name="sim" value="true" />
    </include>
  </group>

  <group if="$(arg guidance)">
    <include file="$(find vulcano_torso_control)/launch/vulcano_torso_control.launch"/>
    <include file="$(find vulcano_torso_pad)/launch/vulcano_torso_pad.launch" />
  </group>

  <group if="$(arg pantilt)">
    <include file="$(find vulcano_torso_control)/launch/vulcano_pantilt_control.launch"/>
  </group>

  <group if="$(arg arms)" >
    <include file="$(find vulcano_arm_control)/launch/ur10_controllers.launch">
      <arg name="prefix" value="left_arm_"/>
    </include>
    <include file="$(find vulcano_arm_pad)/launch/vulcano_arm_pad.launch" >
      <arg name="prefix" value="left_arm_"/>
    </include>
  </group>

  <group if="$(arg arms)">
    <include file="$(find vulcano_arm_control)/launch/ur10_controllers.launch">
      <arg name="prefix" value="right_arm_"/>
    </include>
    <include file="$(find vulcano_arm_pad)/launch/vulcano_arm_pad.launch" >
      <arg name="prefix" value="right_arm_"/>
    </include>
  </group>
    <!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vulcano -param robot_description"/>

  </group>

  <include file="$(find vulcano_gazebo)/launch/vulcano_gazebo.launch"/>

</launch>
