<?xml version="1.0"?>
<robot name="vulcano" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->
  <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->
  <!-- Import vulcano base -->
  <xacro:include filename="$(find vulcano_base_description)/urdf/vulcano_base.urdf.xacro" />

  <!-- Import vulcano torso -->
  <xacro:include filename="$(find vulcano_torso_description)/urdf/vulcano_torso.urdf.xacro"/>

  <!-- Import UR10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro"/>
  <!--<xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro"/>-->

  <!-- Import common gazebo elements -->
  <xacro:include filename="$(find vulcano_description)/robots/common.gazebo.xacro" />

  <xacro:property name="hq" value="true" />
  <xacro:property name="publish_bf" value="true" />

  <xacro:vulcano_base prefix="" publish_bf="${publish_bf}" hq="${hq}"/>
  <!-- Fix torso to base -->
  <joint name="base_torso_joint" type="fixed">
    <origin xyz="0.47 0.0 0.474" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="torso_base_link"/>
    <axis xyz="0 0 0"/>
  </joint>

  <xacro:vulcano_torso prefix="" hq="${hq}" />
  
  <!-- Fix right arm to torso -->
  <joint name="torso_right_arm_base_joint" type="fixed">
    <origin xyz="-0.1637 0.275533 0.021967" rpy="0 ${-PI/4.0} ${-PI/2.0}"/>  <!-- TODO: set correct orientation -->
    <parent link="torso_tkd668_link"/>
    <child link="right_arm_base_link"/>
  </joint>
  <xacro:ur10_robot prefix="right_arm_" joint_limited="true"/>

  <!-- Fix left arm to torso -->
  <joint name="torso_left_arm_base_joint" type="fixed">
    <origin xyz="-0.1637 -0.275533 0.021967" rpy="0 ${PI/4.0} ${-PI/2.0}"/>
    <parent link="torso_tkd668_link"/>
    <child link="left_arm_base_link"/>
  </joint>
  <xacro:ur10_robot prefix="left_arm_" joint_limited="true"/>

  <xacro:ros_control />

</robot>
