<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->
    
    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->
    
    <!-- Include vulcano torso elements -->
    <xacro:include filename="$(find vulcano_torso_description)/urdf/torso/torso.urdf.xacro"/>
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
    
    <xacro:macro name="vulcano_torso" params="prefix hq">
        <xacro:torso prefix="${prefix}" hq="${hq}"/>
    </xacro:macro>
</robot>
