<?xml version="1.0"?>
<launch>

    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- local debug -->
    <!-- arg     if="$(arg debug)" name="launch_prefix" value="screen -d -m gdb - -args" /--> <!-- ssh/screen debug -->

    <arg name="sim" /> 

    <group unless="$(arg sim)">
        <node name="vulcano_torso_hw" pkg="vulcano_torso_hw" type="vulcano_torso_hw" output="screen" launch-prefix="$(arg launch_prefix)"/>
    </group>

    <rosparam file="$(find vulcano_control)/config/ros_control/torso_controllers.yaml" command="load"/>
    <node name="torso_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller torso_guidance_pos_traj_controller" respawn="false" output="screen"/>
    <node name="torso_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
        output="screen" args="load torso_guidance_elevation_joint_controller torso_guidance_revolution_joint_controller" />
    
    <!-- Convert joint states to /tf tranforms -->
    <node name="torso_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>


