<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="robot_ip"/>
  <arg name="reverse_port" />
  <arg name="limited" default="false"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="3.0"/>
  <arg name="prefix" default="" />  
  <arg name="max_velocity" default="10.0"/> <!-- [rad/s] -->

  <!-- Load hardware interface -->
  <node name="$(arg prefix)ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="reverse_port" type="int" value="$(arg reverse_port)" />
    <param name="min_payload" type="double" value="$(arg min_payload)"/>
    <param name="max_payload" type="double" value="$(arg max_payload)"/>
    <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
    <param name="use_ros_control" type="bool" value="True"/>
  </node>

  <!-- Load controller settings -->
  <rosparam file="$(find vulcano_control)/config/$(arg prefix)controllers.yaml" command="load"/>

  <!-- spawn controller manager -->
  <node name="$(arg prefix)controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="force_torque_sensor_controller vel_based_pos_traj_controller joint_read_state_controller --shutdown-timeout 1" />

  <!-- load other controller --> 
  <node name="$(arg prefix)controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_pos_traj_controller" /> 

</launch>
