<?xml version="1.0"?>
<launch>

  <group ns="vulcano">
  <!-- joy node -->
  <node name="joy_arms" pkg="joy" type="joy_node" respawn="true">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="10.0" type="double" />
  </node>

  <node name="vulcano_right_arm_pad" pkg="vulcano_arm_pad" type="vulcano_arm_pad" output="screen">       
    <rosparam command="load" file="$(find vulcano_arm_pad)/launch/right_arm_ps3.yaml" />
  </node>

  <node name="vulcano_left_arm_pad" pkg="vulcano_arm_pad" type="vulcano_arm_pad" output="screen">       
    <rosparam command="load" file="$(find vulcano_arm_pad)/launch/left_arm_ps3.yaml" />
  </node>
  </group>
   
</launch>


