<?xml version="1.0"?>
<launch>
       <rosparam file="$(find vulcano_torso_control)/config/ros_control/torso_controllers.yaml" command="load"/>
       <node name="torso_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller torso_guidance_position_joint_trajectory_controller" respawn="false" output="screen"/>
       <node name="torso_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
            output="screen" args="load torso_guidance_elevation_joint_controller torso_guidance_revolution_joint_controller" />
        
</launch>

