<?xml version="1.0"?>
<launch>

   <rosparam command="load" file="$(find vulcano_torso_control)/config/ros_control/pantilt_controllers.yaml"/>

   <node name="pantilt_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="spawn pantilt_position_joint_trajectory_controller pantilt_joint_state_controller" />

	<!--node name="pan_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="spawn pan_position_controller" />
       
    <node name="tilt_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="spawn tilt_position_controller" />
      
    <node name="pantilt_joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="spawn pantilt_joint_state_controller" /-->

</launch>


