<?xml version="1.0"?>
<launch>

  <node pkg="joy" type="joy_node" name="ps3_joy" output="screen" respawn="true">
    <!-- joy node -->
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="10.0" type="double" />
  </node>
  
  <node name="pad_teleop" pkg="vulcano_base_pad" type="vulcano_base_pad" output="screen">
    <!-- Parameters -->
    <param name="cmd_topic_vel" value="cmd_vel" type="string"/>
    <param name="cmd_service_io" value="modbus_io/write_digital_output" type="string"/>
    <param name="cmd_topic_ptz" value="axis_camera/ptz_command" type="string"/>
    <rosparam command="load" file="$(find vulcano_base_pad)/config/ps3.yaml" />
  </node> 
</launch>

