<?xml version="1.0"?>
<launch>

    <arg name="prefix" default="vulcano_"/>
    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- local debug -->
    <!--arg     if="$(arg debug)" name="launch_prefix" value="screen -d -m gdb - -args" / --> <!-- ssh/screen debug -->

    <rosparam file="$(find vulcano_base_bringup)/config/robotnik_base_hw/$(arg prefix)robotnik_base_hw_limits.yaml" command="load" />    
    <rosparam file="$(find vulcano_base_bringup)/config/robotnik_base_hw/$(arg prefix)robotnik_base_hw.yaml" command="load" />   

    <node name="robotnik_base_hw" pkg="robotnik_base_hw" type="robotnik_base_hw_node" output="screen" launch-prefix="$(arg launch_prefix)">
    </node>

</launch>
