<?xml version="1.0"?>
<launch>

    <arg name="baudrate" default="500000" />

    <!-- FRONT LASER -->
    <node pkg="sicks300" type="sick300_driver" name="front_left_laser" output="log">
        <param name="devicename" value="/dev/ttyUSB_FRONT_LEFT_LASER"/>
        <param name="baudrate" value="$(arg baudrate)"/>
        <param name="frame" value="front_left_laser_link" />
        <param name="send_transform" value="false" />
        <remap from="laserscan" to="front_left_laser/scan" /> <!-- because the node publishes it through the public node handle -->
    </node>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="front_left_laser_filter_bounds">
        <rosparam command="load" file="$(find vulcano_base_bringup)/config/front_left_laser_filter.yaml" />
        <remap from="scan" to="front_left_laser/scan" />
        <remap from="scan_filtered" to="front_left_laser/scan_filtered" />
    </node>


    <!-- BACK LASER -->
    <node pkg="sicks300" type="sick300_driver" name="back_right_laser" output="log">
        <param name="devicename" value="/dev/ttyUSB_BACK_RIGHT_LASER"/>
        <param name="baudrate" value="$(arg baudrate)"/>
        <param name="frame" value="back_right_laser_link" />
        <param name="send_transform" value="false" />
        <remap from="laserscan" to="back_right_laser/scan" /> <!-- because the node publishes it through the public node handle -->
    </node>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="back_right_laser_filter_bounds">
        <rosparam command="load" file="$(find vulcano_base_bringup)/config/back_right_laser_filter.yaml" />
        <remap from="scan" to="back_right_laser/scan" />
        <remap from="scan_filtered" to="back_right_laser/scan_filtered" />
    </node>

</launch>
