<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find vulcano_io_managers)/config/io_mapping.yaml" />

  <node pkg="robotnik_modbus_io" type="robotnik_modbus_io_node" name="io" output="screen">
    <param name="ip_address" type="string" value="192.168.0.20" />
    <param name="port" value="502"/>
    <param name="digital_inputs_addr" value="06" />
    <param name="digital_outputs_addr" value="10"/>
    <param name="digital_inputs" value="32"/>
    <param name="digital_outputs" value="16"/>
    <param name="big_endian" value="false"/>
  </node>
  
  <!--node name="vulcano_safety_manager" pkg="vulcano_io_managers" type="vulcano_safety_manager.py" args="" respawn="false" output="screen"/>
  <node name="vulcano_airpump_manager" pkg="vulcano_io_managers" type="vulcano_airpump_manager.py" args="" respawn="false" output="screen"/>
  <node name="vulcano_fan_manager" pkg="vulcano_io_managers" type="vulcano_fan_manager.py" args="" respawn="false" output="screen"/-->

</launch>
