<?xml version="1.0"?>
<launch>

    <arg name="publish_state" default="true" />    
    <arg name="omni" default="true" />
   
    <!-- load description and publish state-->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find vulcano_base_description)/robots/vulcano_base_standalone.urdf.xacro'" />
    
    <group if="$(arg publish_state)">
        <node name="base_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="base_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
            <rosparam param="source_list">["base/joint_states"]</rosparam> 
        </node>
    </group>
      
    <group ns="base"> 
        <include file="$(find vulcano_base_bringup)/launch/robotnik_base_hw.launch">
            <!--<arg name="debug" value="true" />-->
        </include>
        <include file="$(find vulcano_base_control)/launch/vulcano_base_control.launch">
            <arg name="omni" value="$(arg omni)" />
        </include>
    </group>
    
    <include file="$(find vulcano_base_pad)/launch/vulcano_base_pad.launch" />

    <!-- things that come from generic packages, such as the laser sensors, the io module... -->
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_joy.launch" />

	<!-- DESCOMENTAR -->
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_io.launch" />
    
    <!--include file="$(find vulcano_base_bringup)/launch/vulcano_base_lasers.launch" /-->
    
    <!-- DESCOMENTAR -->
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_microscan_laser.launch">
		<arg name="node_name" value="front_laser"/>
    </include>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="front_laser_filter_bounds">
        <rosparam command="load" file="$(find vulcano_base_bringup)/config/front_laser_filter.yaml" />
        <remap from="scan" to="front_laser/scan" />
        <remap from="scan_filtered" to="front_laser/scan_filtered" />
    </node>
    
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_microscan_laser.launch">
	<arg name="node_name" value="rear_laser"/>
    </include>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="rear_laser_filter_bounds">
        <rosparam command="load" file="$(find vulcano_base_bringup)/config/rear_laser_filter.yaml" />
        <remap from="scan" to="rear_laser/scan" />
        <remap from="scan_filtered" to="rear_laser/scan_filtered" />
    </node>

    
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_imu.launch" />
     
    <!-- DESCOMENTAR -->   
    <!--include file="$(find vulcano_base_bringup)/launch/vulcano_base_inverter.launch" /-->
        
    <include file="$(find vulcano_base_bringup)/launch/vulcano_base_battery.launch" />

	<!-- DESCOMENTAR -->
    <include file="$(find vulcano_base_bringup)/launch/vulcano_web.launch" />

    <!--<include file="$(find vulcano_base_bringup)/launch/vulcano_base_multimaster.launch" />-->
       
</launch>
