<?xml version="1.0"?>
<launch>
    <arg name="omni" default="true" />
    
    <rosparam file="$(find vulcano_base_control)/config/base_controllers.yaml" command="load"/>
    
    <group if="$(arg omni)">
        <node name="base_omni_spawner" pkg="controller_manager" type="controller_manager" args="spawn omni_drive_controller" respawn="false" output="screen" />
    </group>
    
    <group unless="$(arg omni)">
        <node name="left_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn front_left_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="left_motor_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn front_left_motor_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="right_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn front_right_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="right_motor_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn front_right_motor_wheel_joint_controller" respawn="false" output="screen"/>
        
        <node name="back_left_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn back_left_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="back_left_motor_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn back_left_motor_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="back_right_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn back_right_wheel_joint_controller" respawn="false" output="screen"/>
        <node name="back_right_motor_wheel_spawner" pkg="controller_manager" type="controller_manager" args="spawn back_right_motor_wheel_joint_controller" respawn="false" output="screen"/>
    </group>

    <node name="base_joint_read_state_spawner" pkg="controller_manager" type="controller_manager" args="spawn base_joint_read_state_controller" respawn="false" output="screen"/>
    
</launch>
