<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  
  <xacro:macro name="base" params="prefix publish_bf hq">

  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_width" value="0.075" />

  <!-- BASE FOOTPRINT -->
  <xacro:if value="${publish_bf}">
    <link name="${prefix}base_footprint">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
             <box size="0.001 0.001 0.001" />
          </geometry>
      </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link" />
    </joint>    
  </xacro:if>

  <!-- BASE_LINK -->
  <link name="${prefix}base_link">
    <inertial>
      <mass value="25.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <xacro:if value="${hq}">
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_chassis.dae"/>
       </geometry>
       </xacro:if>
       <xacro:unless value="${hq}">
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_chassis.dae"/>
       </geometry>
       </xacro:unless>
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>
    </visual>  
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_chassis.dae"/>
       </geometry>
    </collision>     
  </link>

  <link name="${prefix}cabinet_link">
    <inertial>
      <mass value="15.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.1" ixy="0.0"  ixz="0.0"  iyy="0.1"  iyz="0.0"  izz="0.1" />
    </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <xacro:if value="${hq}">
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_cabinet.dae"/>
       </geometry>
       </xacro:if>
       <xacro:unless value="${hq}">
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_cabinet.dae"/>
       </geometry>
       </xacro:unless>
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>
    </visual>  
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <mesh filename="package://vulcano_base_description/meshes/bases/vulcano_base_cabinet.dae"/>
       </geometry>
    </collision>     
  </link>

  <joint name="${prefix}cabinet_joint" type="fixed">
    <origin xyz="0 0 0.234" rpy="0 0 0" /> 
    <parent link="${prefix}base_link"/>
    <child link="${prefix}cabinet_link" />
  </joint>    

  </xacro:macro>
</robot>
