<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  
  <xacro:macro name="base" params="prefix publish_bf hq">

  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_width" value="0.075" />
  
  <xacro:macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
              iyy="${m*(x*x+z*z)/12}" iyz = "0"
              izz="${m*(x*x+y*y)/12}" /> 
  </xacro:macro>

  <!-- BASE FOOTPRINT -->
  <xacro:if value="${publish_bf}">
    <link name="${prefix}base_footprint">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
             <box size="0.001 0.001 0.001" />
          </geometry>
      </visual>
    </link>

    <joint name="${prefix}base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link" />
    </joint>    
  </xacro:if>

  <!-- BASE_LINK -->
  <link name="${prefix}base_link">
     <inertial>
        <mass value="1000" />
        <origin xyz="0 0 0" />
        <box_inertia m="1000" x="0.7" y="0.4" z="0.2"/>
      </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <!--<xacro:if value="${hq}">-->
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/cabinet.stl"/>
       </geometry>
       <!--</xacro:if>-->
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>
    </visual>  
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
	     <mesh filename="package://vulcano_base_description/meshes/bases/cabinet.stl"/>
       </geometry>
    </collision>     
  </link>

  </xacro:macro>
</robot>
