<?xml version="1.0"?>
<launch>


  <arg name="prefix" />
  <!-- Load controller settings -->
  <rosparam file="$(find vulcano_arm_control)/config/ros_control/$(arg prefix)controllers.yaml" command="load"/>

  <!-- spawn controller manager -->
  <node name="$(arg prefix)controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="$(arg prefix)joint_state_controller $(arg prefix)force_torque_sensor_controller $(arg prefix)position_joint_trajectory_controller --shutdown-timeout 1" />

</launch>

